.container{
display: grid;
row-gap: 2px;
column-gap: 2px;
justify-content: center;

}
.item{
margin: 0px 45px;
padding: 0px 8px 6px 18px;
place-self: center; 

}
.item2{
    margin: 0px 55px;
    place-self: center; 
}

